@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: "Poppins", sans-serif;
font-family: "Raleway", sans-serif;
font-family: "Roboto Mono", monospace;
font-family: "Work Sans", sans-serif; */

:root {
  --color-primary: white;
  --color-secondary: rgb(26, 26, 26);
  --color-heading: rgb(0, 130, 130);
  --color-heading-secondary: purple;
  --transiton-hover-duration: all 0.5s;
  --box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.422);
}

body {
  font-family: "Poppins", sans-serif;
}

body h1 {
  font-weight: 900;
  font-size: 40px;
}

body h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  font-weight: 700;
}
