@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* font-family: "Poppins", sans-serif;
font-family: "Raleway", sans-serif;
font-family: "Roboto Mono", monospace;
font-family: "Work Sans", sans-serif; */

:root {
  --color-primary: white;
  --color-secondary: rgb(0, 0, 0);
  --color-heading: rgb(0, 130, 130);
  --color-heading-secondary: purple;
  --transiton-hover-duration: all 0.5s;
  --sm-device-margin: 0 15px;
  --sm-device-padding: 0 15px;
  --box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.422);
}

html body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body h1 {
  font-weight: 900;
  font-size: 40px;
}

body h2 {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  font-weight: 700;
}

/* Header Here  */
header {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
nav {
  padding: var(--sm-device-padding);
  display: flex;
  justify-content: space-between;
}

.header-icons-container {
  display: flex;
  gap: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
body header .brand-name {
  all: unset;
  font-size: 30px;
}

/* hero  */

.hero {
  background-color: var(--color-secondary);

  background: rgb(255, 132, 0);
  background: radial-gradient(
    circle,
    rgb(255, 123, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 70%
  );
  /* background-image: url("../images/header/bg-texture.png"); */
  /* backface-visibility: hidden; */
  background-blend-mode: overlay;
}

.hero-row {
  position: relative;
}
.carousel-slide {
  max-width: 100%;
  /* margin-left: 5rem; */
  /* margin-right: auto; */
}

.hero-carousel img {
  max-width: 100%;
}

.btn-carousel-arrow {
  /* max-width: 90%; */
}

.hero-icons {
  list-style: none;
  cursor: pointer;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.hero-icons a {
  cursor: pointer;
}

.collections-container {
  font-weight: 200;
  color: #f0ede6;
  opacity: 40%;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.424);
}

.carousel-now-text {
  display: none;
  /* position: relative; */
}
.elegant-text-box {
  display: none;
}
.there-are-text {
  display: none;
}
.jacket-text,
.fashion-design-text,
.round-text-wrap {
  display: none;
}

.elegant-text-box-2 {
  display: none;
  font-size: 3rem;
  color: white;
  /* margin-left: 20%; */
}

.overlapping-elements {
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.424);
}

@media (min-width: 1024px) {
  .btn-carousel-arrow {
    width: 100%;
  }
  .hero-carousel img {
    max-width: 70%;
  }
  .carousel-slide {
    margin-left: 6rem;
  }
  .carousel-slide:first-child {
    /* margin-right: 0; */
  }
  .hero-icons {
    flex-direction: column;
    margin-top: -34vw;
    margin-bottom: 23vw;
  }

  .carousel-now-text {
    opacity: 20%;
    color: white;
    margin-left: 60%;
    margin-bottom: -20%;
    display: inline-block;
    left: 70%;
    top: 0px;
    font-size: 200px;
  }
  .elegant-text-box {
    display: none;
    position: absolute;
    z-index: 1;
    /* opacity: 20%; */
    color: white;
    display: inline-block;
    top: 42%;
    left: 10%;
    padding-bottom: 10%;
    font-size: 40px;
    background-image: url("../images/header/elegant-text-bg.svg");
    background-size: 25%;
    background-repeat: no-repeat;
  }
  .there-are-text {
    opacity: 40%;
    position: absolute;
    display: inline;
    color: white;
    top: 75%;
    right: 32%;
  }
  .jacket-text {
    opacity: 70%;
    display: inline;
    position: absolute;
    color: white;
    top: 70%;
    left: 23%;
  }
  .fashion-design-text {
    /* opacity: 40%; */
    display: inline;
    position: absolute;
    color: white;
    top: 12%;
    left: 10%;
  }
  .round-text-wrap {
    display: block;
    position: absolute;
    right: 36%;
  }
}

@media (min-width: 1400px) {
  .hero-icons {
    margin-top: -34vw;
    margin-bottom: 23vw;
  }

  .carousel-now-text {
    left: 70%;
    top: 0px;
  }
  .elegant-text-box {
    top: 35%;
    left: 14%;
    background-size: 20rem;
  }
  .there-are-text {
    top: 76%;
    right: 40%;
  }
  .jacket-text {
    top: 71%;
    left: 22%;
  }
  .fashion-design-text {
    top: 12%;
    left: 15%;
  }
  .round-text-wrap {
    display: block;
    position: absolute;
    right: 39%;
  }
}

@media (min-width: 1600px) {
  .hero-icons {
    margin-top: -25vw;
    margin-bottom: 20vw;
  }
}

@media (min-width: 1700px) {
  .elegant-text-box {
    top: 35%;
    left: 20%;
  }
  .fashion-design-text {
    top: 12%;
    left: 22%;
  }
  .jacket-text {
    top: 69%;
    left: 28%;
  }
}

@media (min-width: 1920px) {
  .elegant-text-box {
    top: 35%;
    left: 20%;
  }
  .fashion-design-text {
    top: 12%;
    left: 23.5%;
  }
  .jacket-text {
    top: 69%;
    left: 32%;
  }
  .there-are-text {
    top: 76%;
    right: 40%;
  }
  .elegant-text-box {
    top: 35%;
    left: 23%;
  }
}
